/* 字体定义 */
@font-face {
	font-family:'NovemberMongolian';
	src:url('fonts/NovemberMongolianGX.ttf') format('truetype');
	font-variation-settings:'wght' 0,'wdth' 0;
	font-weight:1 999;
	font-stretch:1% 100%;
}
:root {
	--TPTQ_Orange: rgb(255, 102, 0);
	--TPTQ_Cyan: rgb(0, 182, 222);
	--TPTQ_LightBlue: rgb(182, 237, 255);
	--TPTQ_LightPink: rgb(255, 186, 207);
	--TPTQ_Tan: rgb(190, 160, 116);
	--TPTQ_WhiteSmoke: rgb(248, 248, 248);
}
/* 基础样式 */
html {
	height:100%;
}
body {
	min-height:100%;
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	background-color:var(--TPTQ_Orange);
	transition:background-color 8s cubic-bezier(0.075,0.82,0.165,1);
}
.tips {
	font-family:'NovemberMongolian';
	font-variation-settings:'wght' 50,'wdth' 100;
	font-size:16px;
	height:32px;
	line-height:1.5;
	text-align:center;
	width:100%;
	position:fixed;
	bottom:0px;
	display:flex;
	justify-content:center;
	gap:32px;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
::-webkit-scrollbar {
	width:0px;
	background:transparent;
}
/* 垂直文本样式 */
.vertical {
	direction:ltr;
	writing-mode:vertical-lr;
	text-orientation:sideways;
	font-family:'NovemberMongolian';
	font-variation-settings:'wght' 0,'wdth' 0;
	font-size:125px;
	padding:32px;
	margin-top:-64px;
	outline:none;
	line-height:1.125;
	font-feature-settings:"ss18" on;
	animation:variable 16s infinite cubic-bezier(0.215,0.610,0.355,1) 2s,colour 32s infinite ease-out 2s;
	align-self:center;
	transition:font-size .5s;
    user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}
#week {
	color:white;
	animation:week 32s infinite ease-out  2s;
}
#year:before {
	content:"𑙠 ";
}
#year:after {
	content:" ᠣᠨ ᠊ᠤ";
}
#day:before {
	content:"ᠰᠠᠷ᠎ᠠ ᠊ᠶᠢᠨ ";
}
#day:after {
	content:" 🙪";
}
#week:before {
	content:"𑙤 ";
}
#week:after {
	content:" ᠭᠠᠷᠠᠭ";
}
@keyframes variable {
	0% {
	font-variation-settings:'wght' 0,'wdth' 0;
}
12.5% {
	font-variation-settings:'wght' 0,'wdth' 100;
}
25% {
	font-variation-settings:'wght' 0,'wdth' 100;
}
37.5% {
	font-variation-settings:'wght' 100,'wdth' 100;
}
50% {
	font-variation-settings:'wght' 100,'wdth' 100;
}
37.5% {
	font-variation-settings:'wght' 200,'wdth' 100;
}
50% {
	font-variation-settings:'wght' 200,'wdth' 100;
}
62.5% {
	font-variation-settings:'wght' 200,'wdth' 0;
}
75% {
	font-variation-settings:'wght' 200,'wdth' 0;
}
87.5% {
	font-variation-settings:'wght' 0,'wdth' 0;
}
100% {
	font-variation-settings:'wght' 0,'wdth' 0;
}
}@keyframes colour {
	0% {
	color:black;
}
45% {
	color:black;
}
50% {
	color:white;
}
95% {
	color:white;
}
100% {
	color:black;
}
}@keyframes week {
	0% {
	color:white;
}
45% {
	color:white;
}
50% {
	color:black;
}
95% {
	color:black;
}
100% {
	color:white;
}
}@media screen and (max-width:1250px),screen and (max-height:1250px) {
	.screensaver {
	font-size:125px;
}
}@media screen and (max-width:1000px),screen and (max-height:1000px) {
	.screensaver {
	font-size:100px;
}
}@media screen and (max-width:800px),screen and (max-height:800px) {
	.screensaver {
	font-size:80px;
}
}@media screen and (max-width:640px),screen and (max-height:640px) {
	.screensaver {
	font-size:64px;
}
}@media screen and (max-width:512px),screen and (max-height:512px) {
	.screensaver {
	font-size:51.2px;
}
}@media screen and (max-width:409.6px),screen and (max-height:409.6px) {
	.screensaver {
	font-size:40.96px;
}
}@media screen and (max-width:384px),screen and (max-height:384px) {
	.screensaver {
	font-size:38.4px;
}
}